<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <title>Vue-tutorial</title>
</head>
<body>
    <div id="app">
       <!-- conditional rendering -->
       <!-- evaluates the value of showBooks and if it is true it render the template -->
      <div v-if="showBooks">
        <p>{{title}}-{{author}}-{{age}}</p>
      </div>
       <button @click="toggleShowBooks">
        <span v-show="showBooks">Hide books</span>
        <!-- <span v-if="!showBooks">show books</span> -->
        <!-- or we can use v-else instead of using two v-if -->
        <span v-else>show books</span>
       </button>
       <!-- v-show alternative for v-if but here it uses css to show and hide element-->
       <!-- not like v-if which completely remove the element from the DOM and injects it again when it is true -->
       <div v-show="showBooks">showing books</div>
    </div>
    
   <script src="app.js"></script> 
</body>
</html>